body {
    font-family: 'Dosis', sans-serif;
    font-size:2em;
    color:ghostwhite;
    background-color: #b0a6ff;
}

/** Header **/
#header-nav {
    background-color: #8400bd;
    border:0;
    border-radius: 0;
}

.navbar-brand #brand-text{
    color:ghostwhite;
    margin-top:-10px;
    margin-bottom: 0;
    font-size: 2.2em;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-shadow: 3px 3px 2px black;  
}

.navbar-brand a:hover , .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list li {
    text-align: center;
    font-size:1.6em;
}

#nav-list a{
    color:ghostwhite;
    text-shadow: 3px 3px 2px black; 
}

#nav-list a:hover, #nav-list a:focus{
    color : orangered;
    text-decoration:none;
}

div#main-content h2, div#main-content h3 {
    font-weight: bold;
    text-shadow: 3px 3px 2px black; 
}

.row .section{
    background-color:navy;
    margin-bottom:30px;
    padding:5%;
}
